<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        .header {
            text-align: center;
            color: red;

        }

        .header::after {
            content: "Wellcome to my program.";

        }
        h2 {
            text-align: center;
        }
        .btnClick {
            background-color: rgb(64, 64, 255);
            text-decoration: none;
            color: #fff;
            padding: 5px;
        }
        .btnClick:hover {
            background-color: blue;
        }
    </style>

</head>
<body>
    <h1 class="header"></h1>
    <hr>
    <h2> My About</h2>
    <a href="/" class="btnClick">Home</a>
</body>
</html>