<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home </title>

    <!-- <link rel="stylesheet" href="./style.css"> -->

    <style>
        .header {
            text-align: center;
            color: red;

        }

        .header::after {
            content: "Wellcome to my program.";

        }
        .btnClick {
            background-color: aqua;
            padding: 10px;
            
        }
        a{
            color: #fff;
            text-decoration: none;
        }

    </style>

</head>

<body>

    <h1 class="header"></h1>
    <hr>
    <a href="./about" class="btnClick">About</a>

</body>

</html>