<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="index.css">
    <style>
        
    </style>
</head>

<body>
    <h1 id="title">Wellcome to my project</h1>
    <hr>
    <input type="text" name="" id="txtText" value="abc ">
    <button id="mrA">Click send gui All</button>
    <button id="mr2">Click send gui 0</button>
    <button id="mr3">Click send gui All trừ user</button>
    <h2 id="noidung">

    </h2>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>

        // goi len server
        let socket = io('http://localhost:8000');

       
        $(document).ready(function () {
            // alert('hello'); 

            // sk click mrA
            $("#mrA").click(function () { 
                let txtText = document.getElementById('txtText').value;

                socket.emit("Client_send-data", txtText);
            })

            // sk click mr2
            $("#mr2").click(function () {
                let txtText = document.getElementById('txtText').value;

                socket.emit("client-send-data-2", txtText);
            })
            
            // sk click mr3
            $("#mr3").click(function () {
                let txtText = document.getElementById('txtText').value;

                socket.emit("client-send-data-3", txtText);
            })
            

        })
        // user nang nghe user gửi
        socket.on('server-send-data', function (data) {
            $('#noidung').append(data + ' <br/>')
        })

    </script>
</body>

</html>